* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica , Arial, sans-serif;
    font-size: 20px;
    background-color: var(--eleventh-color);
}
:root {
    --primary-color: white;
    --secondary-color: black;
    --third-color: rgb(208, 206, 206);
    --fourth-color: rgb(135, 136, 136);
    --fifth-color: rgb(241, 240, 240);
    --sixth-color: black;
    --seventh-color: rgb(32, 32, 32);
    --eighth-color: rgb(110, 110, 110);
    --ninth-color: rgb(172, 168, 168);
    --tenth-color:rgb(184, 186, 187);
    --eleventh-color: white;
    --twelve-color: white;
    --thirteen-color: black;
    --fourteen-color: white;
    --fifteen-color: white;
    --sixteen-color: rgb(32, 32, 32);
}
.dark-theme {
    --primary-color: rgb(66, 65, 65);
    --secondary-color: white;
    --third-color: black;
    --fourth-color: rgb(218, 218, 218);
    --fifth-color: rgb(99, 98, 98);
    --sixth-color: black;
    --seventh-color: rgb(118, 113, 113);
    --eighth-color: rgb(56, 54, 54);
    --ninth-color: rgb(172, 168, 168);
    --tenth-color:rgb(0, 0, 0);
    --eleventh-color: rgb(39, 38, 38);
    --twelve-color: rgb(120, 120, 120);
    --thirteen-color: rgb(0, 0, 0);
    --fourteen-color: black;
    --fifteen-color: rgb(196, 191, 191);
    --sixteen-color: rgb(99, 98, 98);
}

/* Navigation */
.multi-language-dark-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--twelve-color);
    border-bottom: 1px solid var(--thirteen-color);

}
.multi-language-dark-theme .multi-language-left {
    background-color: var(--twelve-color);
    margin: 10px 20px;
    padding: 5px;
    font-size: 12px;
}
.multi-language-dark-theme .multi-language-left a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color:  var(--seventh-color);
    font-weight: 650;
    transition: 0.3s linear;
}
.multi-language-dark-theme .multi-language-left a:hover {
    background-color: var(--ninth-color);
}
img#icon.light_mode {
    padding-top: 10px;
    width: 30px;
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5rem) !important;
}
.woman-man-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 379.2px;
}
.woman-man-left ul li {
    margin: 0 1rem;
    transition: all 0.3s ease;
}
.right ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 auto;
}
.right ul li {
    margin: 0 1rem;
}
.logo-center {
    flex: 0 1 auto;
    text-align: center;
    width: 170px;
    padding-right: 173px;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}
.material-icons {
    color: var(--secondary-color);
}
.search {
    height: 30px;
    display: flex;
    cursor: pointer;
    background: var(--primary-color);
    border-radius: 30px;
    align-items: center;
}
.search:hover input {
    width: 150px;
}
.search input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    transition: 0.8s;
    background: transparent;
}
.search .material-icons {
    color: var(--secondary-color);
    font-size: 24px;
}
.corner {
    border: none;
    background-color: var(--primary-color);
    padding-right: 10px;
}


/* Contact */

.contact {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .contact-content {
    max-width: 800px;
    text-align: center;
}
.contact .contact-content h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--secondary-color);
    padding-bottom: 20px;
}
.contact .contact-content p {
    font-weight: 300;
    color: var(--secondary-color);
}
.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact-container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-container .contact-info .contact-box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contact-container .contact-info .contact-box .contact-icon {
    min-width: 60px;
    height: 60px;
    background: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22;
}
.contact-container .contact-info .contact-box .contact-text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--secondary-color);
    flex-direction: column;
    font-weight: 300;
}
.contact-container .contact-info .contact-box .contact-text h3 {
    font-weight: 500;
    color: var(--fourth-color);
}
.contact-form {
    width: 40%;
    padding: 40px;
    background: var(--fifth-color);
}
.contact-form h2 {
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: 500;
}
.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    outline: none;
    resize: none;
}
.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--seventh-color);
}
.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
    color: var(--sixth-color);
    font-size: 15px;
    transform: translateY(-20px);
}
.contact-form .input-box input[type="submit"] {
    width: 100px;
    background: var(--third-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* Footer */

.container-footer {
    max-width: 1170px;
    margin: auto;
}
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: var(--sixteen-color);
}
footer li {
    list-style: none;
}
.row-footer {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col-footer {
    width: 25%;
}
.col-footer h4 {
    font-size: 18px;
    color: var(--fourteen-color);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.col-footer h4::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: -10px;
   background-color: var(--eighth-color);
   height: 2px;
   box-sizing: border-box;
   width: 50px;
}
.col-footer ul {
    padding-inline-start: 0px;;
}
.col-footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col-footer-newsletter input {
    width: 200px;
    margin-bottom: 10px;
    height: 40px;
    border: 2px solid var(--ninth-color);
    border-radius: 4px;
    font-size: 15px;
    transition: all 0.3s ease;
}
.col-footer-newsletter input:focus {
    background-color: var(--ninth-color);
}
.col-footer-newsletter input:hover {
    background-color: var(--ninth-color);
}
.social-links i {
    color: var(--fifteen-color);
}
.col-footer ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--eleventh-color);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.5s ease;
}
.col-footer ul li a:hover {
    color: var(--tenth-color);
    padding-left: 10px;
}
.col-footer .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--eighth-color);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.col-footer .social-links a:hover{
    color: var(--primary-color);   
    background-color: var(--ninth-color);
}
