
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.woman-man-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 auto;
    width: 379.2px;
}
.woman-man-left ul li {
    margin: 0 1rem;
    transition: all 0.3s ease;
}
.right ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 auto;
}
.right ul li {
    margin: 0 1rem;
}
.logo-center {
    flex: 0 1 auto;
    text-align: center;
    width: 170px;
   

}

.filtros {
    font-size: 15px;
    border-radius: 12px;
    background-color: none;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
}

.filtros:hover{
    background-color:rgb(216, 216, 216);
    color: black;
}

a {
    text-decoration: none;
    color: black;
}
.material-icons {
    color: black;
}
.round {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    border-color: black;

}
.corner {
    margin-top: 0 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    border-color: black;
}
.search {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 auto;
    border-radius: 20px;
}
form.search input[type=text] {
    font-size: 15px;
    width: 80%;
    background: #f1f1f1;
    border-right: none;
}
form.search button {
    width: 20%;
    color: black;
    font-size: 17px;
    cursor: pointer;
}
form.example button:hover {
    background: #0b7dda;
}
form.search::after {
    content: "";
    clear: both;
    display: table;
}
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

img{
    width: 0;
    display: block;
}

.main-wrapper{
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: block;
    
    grid-template-columns: repeat(2, 1fr);
    background-color: #f1f1f1;
    border-radius: 3px;
    column-gap: 10px;
}

.box{
    background-color: none;
    color: #000;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    height: 100%;
    margin: 80px 25px;
    text-align: center;
    vertical-align: top;
    width: 300px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 300px;
}

.product-div-right{
    text-align: left;
    line-height: 30px;
}

.product-type{
    font-size: 30px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-name, .product-price{
    font-weight: 700;
    font-size: 18px;
    opacity: 0.9;
    font-weight: 500;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

.btn-groups{
    margin-top: 22px;
    line-height: 100px;
}

.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-groups button .fas{
    margin-right: 8px;
}

.add-cart-btn{
    background-color: #b1b1b1;
    border: 2px solid #b1b1b1;
    border-radius: 12px;
    margin-right: 8px;
    color: #fff;
}

.add-cart-btn:hover{
    background-color: #fff;
    color: #929292;
}

.buy-now-btn{
    background-color: #000;
    border: 2px solid #000;
    border-radius: 12px;
    color: #fff;
}

.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}

.size-chart-btn{
    background-color: none;
    border: none;
    color: black;
}

.row {
    margin: 0;
    align-items: center;
    display: flex;
    }
label.radio span {
width: 30px;
height: 30px;
padding: 1vh 4vh;
background-color: none;
color: #000;
display: inline-block;
margin-right: 2vh
}
label.radio input:checked+span {
border: 1px solid rgb(0, 0, 0);
padding: 1vh 4vh;
background-color: none;
margin-right: 2vh;
color: black;
display: inline-block
}
label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;

}
label.radio {
cursor: pointer
  }
  
  label span:first-of-type {
    position: relative;
    left: -27px;
    font-size: 15px;

  }
  
  label span {
    position: relative;
    top: -12px;
  }

  .sizes{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
  }