@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* header*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica , Arial, sans-serif;
    font-size: 20px;
}
/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
}
.woman-man-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 auto;
    width: 379.2px;
}
.woman-man-left ul li {
    margin: 0 1rem;
    transition: all 0.3s ease;
}
.right ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 auto;
}
.right ul li {
    margin: 0 1rem;
}
.logo-center {
    flex: 0 1 auto;
    text-align: center;
    width: 170px;
    padding-right: 173px;
}
a {
    text-decoration: none;
    color: black;
}
.material-icons {
    color: black;
}
.search {
    height: 30px;
    display: flex;
    cursor: pointer;
    background: white;
    border-radius: 30px;
    align-items: center;
    border-color: rgb(194, 23, 23);
}
.search:hover input {
    width: 150px;
}
.search input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    transition: 0.8s;
    background: transparent;
}

.search .material-icons {
    color: rgb(0, 0, 0);
    font-size: 24px;
}
.corner {
    border: none;
    background-color: white;
    padding-right: 10px;
}
/*end*/

html, body{
    font-family: 'Roboto', sans-serif;
}

.box{
    background-color: none;
    color: #000;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    margin: 100px 25px;
    vertical-align: top;
    width: 400px;
    position: absolute;
    top: 30px;
    bottom: 0px;
    right: 300px;
    font-weight: 10px;
}

img{
    width: 100%;
    display: block;
}
.main-wrapper{
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}
.img-container img{
    width: 200px;
    margin: 0 auto;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}

.product-type{
    font-size: 30px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-description{
    font-weight: 10px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}


.sizes{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 15px;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: none;
    border: none;
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: rgb(171, 171, 171);
    border: rgb(171, 171, 171);
    color: #000;
}
.buy-now-btn{
    background-color: rgb(147, 147, 147);
    border: none;
}
.buy-now-btn:hover{
    background-color: rgb(48, 48, 48);
    border: rgb(48, 48, 48);
    color: #000;
}

.size-chart-btn{
    background-color: #fff;
    border: #000;
    color: #000;
}

.size-chart-btn:hover{
    background-color: rgb(255, 255, 255);
    border: #000;
    color: #000;
}

.row {
    margin: 0;
    align-items: center;
    display: flex;
    width: 150px;
    text-align: center;
    }
label.radio span {
width: 10px;
height: 20px;
padding: 2vh 2vh;
background-color: none;
font-size: 12px;
color: #000;
display: inline-block;
margin-right: 2vh
}
label.radio input:checked+span {
border: 1px solid rgb(0, 0, 0);
padding: 2vh 2vh;
background-color: none;
margin-right: 2vh;
color: black;
display: inline-block
}
label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;

}
label.radio {
cursor: pointer
  }


@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}