* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica , Arial, sans-serif;
    font-size: 20px;

/* Navigation */
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
}
.woman-man-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 auto;
    width: 379.2px;
}
.woman-man-left ul li {
    margin: 0 1rem;
    transition: all 0.3s ease;
}
.right ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 auto;
}
.right ul li {
    margin: 0 1rem;
}
.logo-center {
    flex: 0 1 auto;
    text-align: center;
    width: 170px;
    padding-right: 173px;
}
a {
    text-decoration: none;
    color: black;
}
.material-icons {
    color: black;
}
.search {
    height: 30px;
    display: flex;
    cursor: pointer;
    background: white;
    border-radius: 30px;
    align-items: center;
    border-color: rgb(194, 23, 23);
}
.search:hover input {
    width: 150px;
}
.search input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    transition: 0.8s;
    background: transparent;
}
.search .material-icons {
    color: rgb(0, 0, 0);
    font-size: 24px;
}
.corner {
    border: none;
    background-color: white;
    padding-right: 10px;
}
/* GIF */
.gif-center-woman  {
    padding-top: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.gif-center-woman  h2, 
.gif-center-woman p {
    text-align: center;
    margin: 10px;
}
.gif-center-woman img {
    border: 4px solid #ffffff;
    border-radius: 20px;
    width: 505px;
    height: 288px;
}
.gif-center-woman a{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 3px solid #f7f7f2;
    border-radius: 30px;
    font-weight: 700;
    color: #f7f7f2;
    padding: 0px 16px;
    margin: 0px 0px 24px;
}
.gif-center-woman a:hover{
    border-color: rgb(247, 189, 189);
    color: rgb(247,189,189);
}
.gif-center-man  {
    padding-top: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.gif-center-man  h2, 
.gif-center-man p {
    text-align: center;
    margin: 10px;
}
.gif-center-man img {
    border: 4px solid #ffffff;
    border-radius: 20px;
}
.gif-center-man a{
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 3px solid #f7f7f2;
    border-radius: 30px;
    font-weight: 700;
    color: #f7f7f2;
    padding: 0px 16px;
    margin: 0px 0px 24px;
    transition: 0.3S ease;
}
.gif-center-man a:hover{
    border-color: rgb(194,191,191);
    color: rgb(194, 191, 191);
}


/* Featured Products */

.section-product1  {
    text-align: center;
    position: relative;
}
.section-product1 .product-container  {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.section-product1 h2 {
    text-align: center;
    padding-top: 100px;
}
.section-product1 p {
    text-align: center;
    padding-top: 25px;
}
.section-product1 .product1 {
    width: 10%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 25px;
    box-shadow: -4px 0px 30px -6px rgba(110,110,110,0.02);
    cursor: pointer;
    margin: 15px 0;
    transition: all 0.2s ease ;
    position: relative;
}
.section-product1 .product1:hover {
    box-shadow: -4px 0px 30px -6px rgba(110,110,110,1);
}
.section-product1 .product1 img {
    background-color: rgb(242, 245, 245);
    width: 100%;
    border-radius: 20px;
}
.section-product1 .product1 .description {
    text-align: start;
    padding: 10px 0;
}
.section-product1 .product1 .description span{
    color: rgb(169, 170, 170);
    font-size: 13px;
}
.section-product1 .product1 .description h5{
    padding-top: 7px;
    color: rgb(139, 139, 139);
    font-size: 14px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.section-product1 .product1 .description i{
    font-size: 12px;
    color: orange;
}
.section-product1 .product1 .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.section-product1 .product1 .material-icons{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(242, 245, 245);
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transition: 0.2 ease;
}

.section-product1 .product1 .material-icons:hover{
    border: 1px solid black;
}
/* Banner */
.section-banner{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-image: url("Imagens/banner.jpg"); 
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-banner h4{
    color: rgb(204, 18, 18);
    font-size: 20px;
}
.section-banner h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 10px;
}
.section-banner h2 span{
    color: rgb(238, 5, 5);
    font-size: 45px;
}
.section-banner button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2 ease;
}
.section-banner button:hover{
    border: 1px solid black;
}
/* Testimonial */
.testimonial {
    padding-top: 50px;
    padding-bottom: 100px;
}
.row-testimonial {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 100px;
}
.col-3-testimonial {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    border: 2px solid rgb(110, 110, 110);
}
.col-3-testimonial img {
    width: 60px;
    margin-top: 20px;
    border-radius: 50%;
}
.col-3-testimonial:hover {
    transform: translateY(-10px);
}
.col-3-testimonial .material-icons {
    font-size: 34px;
    color: rgb(224, 148, 5);
}
.col-3-testimonial .star-testimonial {
    font-size: 12px;
    color: rgb(224, 148, 5);
}
.col-3-testimonial p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 12px 0;
}
.col-3-testimonial h3 {
    font-size: 16px;
}
/* Footer */
.container-footer {
    max-width: 1170px;
    margin: auto;
}
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgb(32, 32, 32);
}
footer li {
    list-style: none;
}
.row-footer {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col-footer {
    width: 25%;
}
.col-footer h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.col-footer h4::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: -10px;
   background-color: rgb(110, 110, 110);
   height: 2px;
   box-sizing: border-box;
   width: 50px;
}
.col-footer ul {
    padding-inline-start: 0px;;
}
.col-footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col-footer-newsletter input {
    width: 200px;
    margin-bottom: 10px;
    height: 40px;
    border: 2px solid #6E6E6E;
    border-radius: 4px;
    font-size: 15px;
    transition: all 0.3s ease;
}
.col-footer-newsletter input:focus {
    background-color: rgb(172, 168, 168);
}
.col-footer-newsletter input:hover {
    background-color: rgb(172, 168, 168);
}
.social-links i {
    color: white;
}
.col-footer ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.5s ease;
}
.col-footer ul li a:hover {
    color: rgb(184, 186, 187);
    padding-left: 10px;
}
.col-footer .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(110, 110, 110);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.col-footer .social-links a:hover{
    color: white;   
    background-color: rgb(172, 168, 168);
}


